 @media (max-width: 768px) {
            .stress {
               display: none;

            }
        }
        @media (min-width: 769px) {
            .donate-btn {
              margin-bottom: 3rem;
              padding-bottom: 12px;

            
            }
        }

        /* Hover effects for buttons */
        .one:hover{
            background-color: rgba(255, 19, 255, 0.863);
        }
        .two:hover{
            background-color: rgb(194, 42, 126);
        }
        .main:hover{
            background-color: rgba(193, 22, 193, 0.902);
        }

        /*grid*/

        .my-grid {
            display: grid;
            grid-template-columns: 15%,20%,40%;
            gap: 1.5rem;
        }
        .card:hover{
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.562);
            transition: transform 0.3s;
            transform: scale(1);
        }

        .card li:hover{
            color: rgba(104, 3, 104, 0.927);
            font-weight: 500;
            transition: all 0.3s ease-in-out;
            transform: scale(1.05);
        }
        .greater:hover{
            background-color: rgba(193, 22, 193, 0.902);
            transition: all 0.3s ease-in-out;
            transform: scale(1.05);
        }
